<h1 mat-dialog-title>Set User password</h1>
<div>
    <span>Set user password for <b>{{user.firstName}} {{user.lastName}}</b></span>
</div>
<br/>
<mat-dialog-content [formGroup]="form" class="container-fluid">
  <div class="row">
      <mat-form-field class="col-md-12">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error *ngIf="form.controls.password.hasError('required')">
            Password is required !
        </mat-error>
        <mat-error *ngIf="form.controls.password.hasError('minlength')">
            Minimum password length is 6 !
        </mat-error>
        <mat-error *ngIf="form.controls.password.hasError('maxlength')">
            Maximum password length is 16 !
        </mat-error>
      </mat-form-field>
  </div>
  <div class="row">
        <mat-form-field class="col-md-12">
        <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPwd" required>
        <mat-error *ngIf="form.controls.confirmPwd.hasError('required')">
            Confirmation password is required !
        </mat-error>
        <mat-error *ngIf="form.controls.confirmPwd.hasError('notSame')">
            Passwords do not match !
        </mat-error>
      </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
    <span class="fill-space"></span>
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button  color="primary" [disabled]="!form.dirty || !form.valid" (click)="save()">Add</button>
</mat-dialog-actions>