<h2>Times & Means Contract Details</h2>
<br/>
<table>
  <tr><td>Contract's Name : &nbsp;</td><td>{{contract?.name}}</td></tr>
  <tr><td>Customer's Name : &nbsp;</td><td>{{contract?.customer.name}}</td></tr>
</table>
<br/>
<h3>Profiles</h3>
<div id="form-container">
  <table mat-table [dataSource]="profiles">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Profile Name </th>
      <td mat-cell *matCellDef="let profile"> {{profile.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let profile"> {{profile.description}} </td>
    </ng-container>

    <ng-container matColumnDef="hourlyRate">
      <th mat-header-cell *matHeaderCellDef> Hourly<BR/>Rate </th>
      <td mat-cell style="text-align: right;" *matCellDef="let profile"> {{profile.hourlyRate}} </td>
    </ng-container>

    <ng-container matColumnDef="minimumDailyInvoiced">
      <th mat-header-cell *matHeaderCellDef> Min. daily<BR/>invoice </th>
      <td mat-cell style="text-align: right;" *matCellDef="let profile"> {{profile.minimumDailyInvoiced}} </td>
    </ng-container>

    <ng-container matColumnDef="maximumDailyInvoiced">
      <th mat-header-cell *matHeaderCellDef> Max. daily<BR/>invoice </th>
      <td mat-cell style="text-align: right;" *matCellDef="let profile"> {{profile.maximumDailyInvoiced}} </td>
    </ng-container>
<!--
    multipleUnitInvoiced: number;
-->

    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef> Completed </th>
      <td mat-cell style="text-align: center;" *matCellDef="let profile">
        <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? toggleCompleted(profile) : null"
            [checked]="profile.completed"
            aria-label="Task completion state">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Actions
          <span class="fill-space"></span>
          <button mat-icon-button title="Add new Contract" (click)="clickAdd()">
            <mat-icon style="color: black;">add_circle</mat-icon>
          </button>
      </th>

      <td mat-cell *matCellDef="let row">
        <button mat-icon-button title="Edit Profile" (click)="clickEdit(row)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let profile; columns: displayedColumns;"></tr>
  
  </table>

  <mat-toolbar>
    <mat-toolbar-row>  
      <span class="spacer"></span>
      <button mat-raised-button (click)="cancel()">Cancel</button>
      <!--button mat-raised-button  color="primary" [disabled]="!form.dirty || !form.valid" (click)="save()">Save</button-->
      <button mat-raised-button  color="primary" (click)="save()">Save</button>
    </mat-toolbar-row>  
  </mat-toolbar>

</div>