<h3 mat-dialog-title>Set user password</h3>
<br/>
<p>Setting password for user : <b>{{firstName}} {{lastName}}</b> (username : '<i>{{username}}</i>')</p>
<br/>
<div>
  <form [formGroup]="form">
    <div class="row">
      <mat-form-field class="col-md-6">
        <input matInput type="password" placeholder="New password"
            formControlName="password"
            required/>
        <mat-error *ngIf="form.controls.password.hasError('required')">
          Password is required !
        </mat-error>
        <mat-error *ngIf="form.controls.password.hasError('minlength')">
          Minimum password length is 6 !
        </mat-error>
        <mat-error *ngIf="form.controls.password.hasError('maxlength')">
          Maximum password length is 16 !
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-md-6">
        <input matInput type="password" placeholder="Confirm password"
            formControlName="confirm"
            required/>
        <mat-error *ngIf="form.controls.confirm.hasError('required')">
          Password confirmation is required !
        </mat-error>
        <mat-error *ngIf="form.controls.confirm.hasError('notSame')">
          Passwords do not match !
        </mat-error>
      </mat-form-field>
    </div>
    <br/>
    <button class="btn btn-primary" [disabled]="!form.dirty || !form.valid" (click)="save()">Save</button>
  </form>
  <!--p>Form dirty : {{form.dirty}}</p>
  <p>Form valid : {{form.valid}}</p-->
</div>