<div class="calendar">
  <div class="calendar-top">
    <button class="calendar-page-button" aria-label="Previous year" *ngIf="yearlyMoveButton" (click)="decrementYear()">
      <div>&lt;&lt;</div>
    </button>
    <button class="calendar-page-button" aria-label="Previous month" (click)="decrementMonth()">
      <div>&lt;</div>
    </button>
    <button class="calendar-page-month"><div>{{monthName}} {{year}}</div></button>
    <button class="calendar-page-button" aria-label="Next month" (click)="incrementMonth()">
      <div>&gt;</div>
    </button>
    <button class="calendar-page-button" aria-label="Next near" *ngIf="yearlyMoveButton" (click)="incrementYear()">
      <div>&gt;&gt;</div>
    </button>
  </div>
  <div class="calendar-body">
    <div class="calendar-day-names">
      <div class="calendar-week-title">Semaine</div>
      <div class="calendar-day-title" *ngFor="let dayName of dayNames">{{dayName}}</div>
    </div>
    <div class="calendar-day-row">
      <div *ngFor="let week of weeks" class="calendar-day-week">
        <div class="calendar-day-week-head">
          {{week[0].momentDate.isoWeek()}}
        </div>
        <div class="" *ngFor="let day of week"
             [ngClass]="{ 'calendar-day-item': day.isCurrentMonth,
                          'calendar-day-item-selected': day.selected,
                          'calendar-day-item-not-month': !day.isCurrentMonth,
                          'calendar-day-item-not-month-pointer': !day.isCurrentMonth && !selectOnlyInMonth,
                          'calendar-day-item-saturdays': day.isSaturday,
                          'calendar-day-item-sundays': day.isSunday }"
              (click)="itemClicked(day)">
          {{day.momentDate.date()}}
          <div class="calendar-day-item-line1"><div *ngIf="line1Texts.has(day.momentDate.unix())">{{line1Texts.get(day.momentDate.unix())}}</div></div>
          <div class="calendar-day-item-line2"><div *ngIf="line2Texts.has(day.momentDate.unix())">{{line2Texts.get(day.momentDate.unix())}}</div></div>
        </div>
      </div>
    <div>
  </div>
</div>
