<h2>Enter Timesheet</h2>
<big-calendar [selectOnlyInMonth]="false" [yearlyMoveButton]="true" [autoSwitchMonth]="true" (onItemClicked)="calendarDateClicked($event)" (onMonthChanged)="onMonthChanged()"></big-calendar>

<div class="time-track-table">
  <table mat-table [dataSource]="taskTimetracks">

    <ng-container matColumnDef="locked">
      <th mat-header-cell *matHeaderCellDef style="min-width: 24px; max-width: 24px;">&nbsp;</th>
      <td mat-cell *matCellDef="let task" style="min-width: 24px; max-width: 24px;">
        <mat-icon *ngIf="task.locked">lock</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="contract">
      <th mat-header-cell *matHeaderCellDef> Contract / Project (Type) </th>
      <td mat-cell *matCellDef="let task">{{task.contractName}}&nbsp;(&nbsp;{{task.contractType}}&nbsp;)</td>
    </ng-container>

    <ng-container matColumnDef="task">
      <th mat-header-cell *matHeaderCellDef> Task </th>
      <td mat-cell *matCellDef="let task">{{task.taskName}}</td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef> Duration </th>
      <td mat-cell *matCellDef="let task">
        <div *ngIf="task.locked">{{task.duration}}</div>
        <mat-form-field *ngIf="!task.locked">
          <input matInput type=text [(ngModel)]="task.duration" (focusout)="noteLostFocus(task, i)" (change)="noteChanged(task, i)"/>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef> Note </th>
      <td mat-cell *matCellDef="let task; let i = index">
        <div *ngIf="task.locked">{{task.note}}</div>
        <mat-form-field *ngIf="!task.locked">
          <input matInput type=text [(ngModel)]="task.note" (focusout)="noteLostFocus(task, i)" (change)="noteChanged(task, i)"/>
        </mat-form-field>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let task; columns: displayedColumns;"></tr>

  </table>
</div>
