<mat-card class="app-setting">
  <mat-card-header >
      <div class="col-md-8">{{i18nSettingText}}</div>
      <mat-slide-toggle  class="col-md-4"*ngIf="setting.javaType=='java.lang.Boolean'" [ngModel]="setting.value=='true'">
      </mat-slide-toggle>
      <mat-form-field class="col-md-4" *ngIf="(setting.javaType=='java.lang.Double') || (setting.javaType=='java.lang.Integer') || (setting.javaType=='java.lang.String')" floatLabel="always">
        <input matInput type="text" placeholder="Current value :" [(ngModel)]="setting.value">
      </mat-form-field>
  </mat-card-header>
  <mat-card-content>
    <div style="padding-left: 60px;" *ngIf="setting.dateLinked">
      <div class="row">
        <div class="col-md-12">Dated values</div>
      </div>
      <div class="row">
        <div class="col-md-12" *ngIf="setting.datedValues.length < 1">None</div>
        <div class="col-md-12" *ngIf="setting.datedValues.length > 0">
          <div class="row">
            <div class="col-md-6">Valeurs</div>
            <div class="col-md-6">Date de fin d'applicabilité (inclusive)</div>
          </div>
          <div class="row" *ngFor="let datedValue of setting.datedValues">
            <!-- {{datedValue.id}} -->
            <div class="col-md-6">
              <mat-slide-toggle  *ngIf="setting.javaType=='java.lang.Boolean'" [ngModel]="datedValue.value=='true'">
              </mat-slide-toggle>
              <mat-form-field *ngIf="(setting.javaType=='java.lang.Double') || (setting.javaType=='java.lang.Integer') || (setting.javaType=='java.lang.String')" floatLabel="never">
                <input matInput type="text" placeholder="Current value :" [(ngModel)]="datedValue.value">
              </mat-form-field>
            </div>
            <!-- {{datedValue.dateEndValid}} -->
            <div class="col-md-6">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" [value]="datedValue.dateEndValid">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
