<h1 mat-dialog-title>{{title}}</h1>
<mat-dialog-content [formGroup]="form" class="container-fluid">
    <div class="row">
        <mat-form-field class="col-md-12">
            <input matInput placeholder="Contract Name" formControlName="name" required />
            <mat-error *ngIf="form.controls.name.hasError('required')">
            Contract's name is required !
            </mat-error>
            <mat-error *ngIf="form.controls.name.hasError('minlength')">
            Minimum contract's name length is 6 !
            </mat-error>
            <mat-error *ngIf="form.controls.name.hasError('maxlength')">
            Maximum contract's name length is 64 !
            </mat-error>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="col-md-12">
            <textarea matInput placeholder="Contract's description" formControlName="description">
            </textarea>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="col-md-6">
          <mat-label>Customer</mat-label>
          <input matInput placeholder="Customer" aria-label="Customer" [matAutocomplete]="auto" formControlName="customer" required>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCustomerFn">
            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let customer of filteredCustomerList" [value]="customer" (onSelectionChange)="customerSelected($event)">
                <span>{{customer.name}}</span>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
          <mat-error *ngIf="form.controls.customer.hasError('required')">
              Customer's name is required !
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6">
            <mat-label>Contract Type</mat-label>
            <mat-select name="contractType" formControlName="contractType" required>
                <mat-option *ngFor="let type of types" [value]="type.id">
                    {{type.description}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="col-md-4">
            <input matInput placeholder="Order Number" formControlName="orderNumber"/>
        </mat-form-field>
        <mat-form-field class="col-md-4">
            <input matInput [matDatepicker]="picker1" placeholder="Date order signed" formControlName="orderDate"/>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="col-md-4">
            <input matInput [matDatepicker]="picker2" placeholder="Planned start date" formControlName="plannedStart"/>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-4">
            <input matInput [matDatepicker]="picker3" placeholder="Planned end date" formControlName="plannedEnd"/>
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
    </div>
</mat-dialog-content>
<!--
  <p>Form dirty : {{form.dirty}}</p>
  <p>Form valid : {{form.valid}}</p>
  <p>Form value: {{ form.value | json }}</p>
  <p>Form status: {{ form.status | json }}</p>
  <p>Form username status: {{ form.controls.firstname.errors | json }}</p>
-->
<mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-raised-button (click)="cancel()">Cancel</button>
  <button mat-raised-button  color="primary" [disabled]="!form.dirty || !form.valid" (click)="save()">Save</button>
</mat-dialog-actions>
