<h2>Manage Customers</h2>
<br/>
<mat-checkbox [checked]="showDeleted" [disabled]="showArchived" (change)="toggleShowDeleted()"><span class="check-box-label">Show deleted</span></mat-checkbox>
<br/>
<mat-checkbox [checked]="showArchived" (change)="toggleShowArchived()"><span class="check-box-label">Show archived</span></mat-checkbox>
<br/>
<table mat-table [dataSource]="page?.content">

  <ng-container matColumnDef="selector">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
          [checked]="hasSelection() && isAllSelected()"
          [indeterminate]="hasSelection() && !isAllSelected()"
          [disabled]="showArchived"
          [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? toggleSelection(row) : null"
                    [checked]="isSelected(row)"
                    [disabled]="showArchived"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let customer"> {{customer.name}} </td>
  </ng-container>

  <ng-container matColumnDef="siege">
    <th mat-header-cell *matHeaderCellDef> Social Address </th>
    <td mat-cell *matCellDef="let customer"> {{getAddress(customer)}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Actions
        <span class="fill-space"></span>
        <button mat-icon-button title="Add new Customer" (click)="clickAdd()">
          <mat-icon style="color: black;">add_circle</mat-icon>
        </button>
    </th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button title="Edit Customer" (click)="clickEdit(row)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button *ngIf="!showArchived && !row.deleted" title="Delete Customer" (click)="clickDelete(row)">
        <mat-icon>delete_outline</mat-icon>
      </button>
      <button mat-icon-button *ngIf="!showArchived && showDeleted && row.deleted" title="Undelete customer" (click)="clickUndelete(row)">
        <mat-icon>undo</mat-icon>
      </button>
      <button mat-icon-button *ngIf="!row.archived" title="Archive customer" (click)="clickArchive(row)">
        <mat-icon>archive</mat-icon>
      </button>
      <button mat-icon-button *ngIf="row.archived" title="Unarchive customer" (click)="clickUnarchive(row)">
        <mat-icon>unarchive</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let customer; columns: displayedColumns;"></tr>

</table>
<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button title="Delete all selected rows" [disabled]="!hasSelection()" (click)="clickDeleteSelected()">
      <mat-icon>delete_outline</mat-icon>
    </button>
    <span class="spacer"></span>
    <mat-paginator [length]="page?.totalElements"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex"
        [showFirstLastButtons]="pageFirstLast"
        (page)="getData($event)">
    </mat-paginator>
  </mat-toolbar-row>
</mat-toolbar>
